.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 8px;
    outline:none;
}